:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

*,*::after,*::before{
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Solway', serif;
}

.img-container {
     width: 80%;
    margin: 0 auto;
}

img {
    width: 60%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

.controls {
    font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom: 2rem;
}